<div id="VanRijn_ActionCenter">
    <div id="VanRijn_ActionCenter_Notification_Container">
        <div id="VanRijn_ActionCenter_Notifications_app">
            <div class="VanRijn_ActionCenter_Category">
                <span><img src="app.png">Application</span>
            </div>
        </div>
    </div>
    <div class="VanRijn_ActionCenter_Action_Container">
        <button>Uitvouwen</button>
        <button>Alle meldingen wissen</button>
    </div>
    <div class="VanRijn_ActionCenter_Button_Container" style="display: none;">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>