/* Default Colors */
$red: rgb(220, 54, 70);
$orange: rgb(253, 126, 20);
$yellow: rgb(255, 194, 8);
$green: rgb(40, 168, 70);
$teal: rgb(32, 202, 152);
$cyan: rgb(24, 162, 184);
$blue: rgb(0, 124, 255);
$indigo: rgb(102, 16, 242);
$purple: rgb(112, 66, 194);
$pink: rgb(232, 62, 140);
$white: rgb(255, 255, 255);
$gray: rgb(108, 118, 125);
$gray-dark: rgb(50, 58, 64);
$black: rgb(0, 0, 0);

/* Theme Colors*/
$theme-primary: rgb(0, 120, 212);
$theme-secondary: rgb(43, 136, 216);
$theme-tertiary: rgb(113, 175, 229);
$theme-light: rgb(199, 224, 244);
$theme-lighter: rgb(222, 236, 249);
$theme-lighter-alt: rgb(239, 246, 252);
$theme-dark: rgb(0, 90, 158);
$theme-darker: rgb(0, 69, 120);